.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form{
    border: 1px solid black;
    padding: 1.8em;
    width: 30%;
    border-radius: 10px;
}